$Nunito: ('Light', 300),('Regular', 400), ('Medium', 500), ('SemiBold', 600), ('Bold', 700), ('ExtraBold', 800), ('Black', 900);

@each $name,$weight in $Nunito {
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito-#{$name}.ttf');
    font-weight: $weight;
  }
}